<!DOCTYPE HTML>
<html>
	<head>
		<title>Online Bookstore</title>
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script type="text/javascript" th:src="@{/js/register.js}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>Register</h1>
			<div class="alert alert-danger" role="alert">
			</div>
			<div class="alert alert-success" role="alert">
			</div>
			
			<form id="form" action="" method="POST" >
				
				<div class="form-group">
					<label>Username </label><input type="textbox" id="username" placeholder="username"  class="form-control" >
				</div>
				<div class="form-group">
					<label>Password </label><input type="password" id="password" placeholder="password" class="form-control"  >
				</div>
			</form>
			<input type="button" id="submit" value="Save" class="btn btn-primary" >
			<input type="button" id="return" value="Return" class="btn btn-primary" >
		</div>
		
	</body>
</html>